<nav>
    <div class="twelve columns nav">
        <ul>
            <li>
                <a href="default.asp">Home</a>
            </li>
            <li>
                <a href="news.asp">Get Started</a>
            </li>
        </ul>
    </div>
</nav>

<div class="twelve columns main-area">
    <div class="inside-green">

        <h5>Find Top Tech Talent Today</h5>

        <!-- Start of form -->

            <div class="form-wrapper">
                <button class="find-tech-talent-button">Get Started</button>

                <div class="enter_name form none">

                    <%= form_tag("/home", method: "get", :remote => true, :id => "input-form") do %>
                    <%= label_tag("Enter your name") %>
                    <%= text_field_tag(:name) %>
                    <%= button_tag("Next", :class => "entered_name") %>
                </div>

                <div class="enter_front_back form none">
                    <%= label_tag("Are you looking for a front-end or back-end developer?") %>
                    <%= text_field_tag(:front_back) %>
                    <%= button_tag("Next", :class => "entered_front_back") %>
                </div>

                <div class="enter_relevant_technologies form none">
                    <%= label_tag("Enter the technologies you would like the candidate to be proficient in") %>
                    <%= text_field_tag(:relevant_technologies) %>
                    <%= button_tag("Next", :class => "entered_relevant_technologies") %>
                </div>

                <div class="enter_years_experience form none">
                    <%= label_tag("How many years of experience do you require?") %>
                    <%= text_field_tag(:years_experience) %>
                    <%= button_tag("Next", :class => "entered_years_experience") %>
                </div>

                <div class="enter-company_size form none">
                    <%= label_tag("Enter the size of your company (small, medium or large)") %>
                    <%= text_field_tag(:company_size) %>
                    <%= button_tag("Next", :class => "entered_company_size") %>
                </div>

                <div class="enter_front_back form none">
                    <%= label_tag("Are you looking for a front-end or back-end developer?") %>
                    <%= text_field_tag(:front_back) %>
                    <%= button_tag("Next", :class => "entered_front_back") %>
                </div>

                <div class="enter_description form none">
                    <%= label_tag("Describe your ideal candidate in one word") %>
                    <%= text_field_tag(:description) %>
                    <%= button_tag("Next", :class => "entered_description") %>
                </div>

                <div class="enter_email form none">
                    <%= label_tag("Enter your email") %>
                    <%= text_field_tag(:email) %>
                    <%= submit_tag("Next", :class => "submit-form") %>
                    <% end %>
                </div>

                <div class="display-result-property-value none"></div>

                <!-- End of form -->

                </div>
            </div>
        </div>

        <div class="description-area twelve columns">
            <h5 class="how-it-works">How It Works</h5>

            <div class="one-third column">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="one-third column">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="one-third column">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>

        <div class="testimonial-area twelve columns">
            <div class="six columns">
                <h5>"Our Tech Scout Developers Are Ahead Of The Curve"</h5>
                <p>CEO of Successful Enterprise
                </p>
            </div>

            <div class="six columns">
                <h5>"Testimonial"</h5>
                <p>CEO of whatever</p>
            </div>

        </div>

        <div class="top-businesses-area twelve columns">
            <h5>Top Businesses Accepted On Tech Talent Finder</h5>
            <div class="three columns"></div>

            <div class="three columns"></div>

            <div class="three columns"></div>

            <div class="three columns"></div>
        </div>

        <div class="main-area-2 twelve columns">
            <h5>Find Top Developers For Your Team Today</h5>
            <button class="find-tech-talent-button">Get Started</button>
        </div>

        <div class="footer-text">
            <p>@2017 Tech Talent Finder Inc.</p>
        </div>

        <!-- End of first page -->


                <!-- Start of finding your tech talent -->
                <div class="searching-for-results twelve columns none">
                    <h5>Picture Of Flashlight</h5>
                </div>

                <!-- End of searching for talent -->

                <!-- Start of description of me page -->

                <div class="search-result-page none">
                    <h5>Searching for talent</h5>
                </div>

                <!-- End of Description of me page -->

                <div class="result-page none">
                    <h5>Your result is</h5>
                </div>
