<!-- <nav> -->
<!-- <%= image_tag("etech.jpg", :class=> 'my_image') %>
    <img src="" alt=""> -->
<!-- <div class="twelve columns nav">
        <ul>
            <li>
                <a href="default.asp">Home</a>
            </li>
            <li>
                <a href="news.asp">Get Started</a>
            </li>
        </ul>
    </div>
</nav> -->

<div class="page-1">
    <div class="row">
        <div class="twelve columns main-area">
            <div class="inside-green">

                <h5 class="header-text">Find Top Tech Talent Today</h5>
                <p class="no1-recruitment">The No.1 Website For Finding Top Developer For Your Business</p>

                <!-- Start of form -->

                <div class="form-wrapper">
                    <button class="find-tech-talent-button flipInY animated">Get Started</button>
                    <!--flipInY animated -->

                    <div class="enter_name form none">

                        <%= form_tag("/json", method: "get", :format => :json, :remote => true, :id => "input-form") do %>
                        <%= label_tag("Enter your name") %>
                        <%= text_field_tag(:name) %>
                        <%= button_tag("Next", :class => "entered_name") %>
                    </div>

                    <div class="enter_front_back form none">
                        <%= label_tag("Are you looking for a front-end or back-end developer?") %>
                        <%= text_field_tag(:front_back) %>
                        <%= button_tag("Next", :class => "entered_front_back") %>
                    </div>

                    <div class="enter_relevant_technologies form none">
                        <%= label_tag("Enter the technologies you would like the candidate to be proficient in") %>
                        <%= text_field_tag(:relevant_technologies) %>
                        <%= button_tag("Next", :class => "entered_relevant_technologies") %>
                    </div>

                    <div class="enter_years_experience form none">
                        <%= label_tag("How many years of experience do you require?") %>
                        <%= text_field_tag(:years_experience) %>
                        <%= button_tag("Next", :class => "entered_years_experience") %>
                    </div>

                    <div class="enter_company_size form none">
                        <%= label_tag("Enter the size of your company (small, medium or large)") %>
                        <%= text_field_tag(:company_size) %>
                        <%= button_tag("Next", :class => "entered_company_size") %>
                    </div>

                </div>

                <div class="enter_description form none">
                    <%= label_tag("Describe your ideal candidate in one word") %>
                    <%= text_field_tag(:description) %>
                    <%= button_tag("Next", :class => "entered_description") %>
                </div>

                <div class="enter_email form none">
                    <%= label_tag("Enter your email") %>
                    <%= text_field_tag(:email) %>
                    <%= submit_tag("Next", :class => "submit_form") %>
                    <% end %>
                </div>

                <div class="display-result-property-value none"></div>

                <!-- End of form -->

            </div>
        </div>
    </div>

    <h3 class="how-it-works">How It Works</h3>

    <div class="row">
        <div class="one-third column">
            <h5>Step 1</h5>
            <p>Click the "Get Started" button above.</p>
        </div>
        <div class="one-third column">
            <h5>Step 2</h5>
            <p>Fill in a quick, 2 minute form describing your ideal candidate.</p>
        </div>
        <div class="one-third column">
            <h5>Step 3</h5>
            <p>Get matched with the perfect candidate for the job.</p>
        </div>
    </div>

    <div class="testimonial-area twelve row wow bounceInOut animated">
        <div class="twelve columns testimonial-text">
            <p>"My complete recruitment experience from start to end was excellently handled by Tech Talent Scout. When finding me a suitable candidate, the expectations of what I was looking for was taken into consideration by them.<br><br>

            For me Tech Talent Scout has certainly ticked all boxes as a recruitment agency by helping me deliver the best application I desired."
            <p>CEO of Successful Enterprise</p>
        </div>

        <div class="twelve columns testimonial-text">
            <p>"I have been using Tech Talent Scout for the past 2 years as a software provider, and the performance is second to none. They always bring us a great candidate, and gets a true understanding of what our business needs. <br><br>

            Throughout the whole recruitment process Tech Talent Scout operates in the most helpful, professional, and efficient way. More often than not their Artificial Intelligence based software delivers the best candidate first time. Tech Talent Scout
                also has access to a pool of candidates that I do not seem to get anywhere else in the market"</p>
            <p>Anonymous Successful Person</p>
        </div>

    </div>

    <div class="main-area-2 twelve columns">
        <h5>Find Top Developers For Your Team Today</h5>
        <button class="find-tech-talent-button">Get Started</button>
    </div>

    <div class="lowest-text">
        <p>@2017 Tech Talent Finder Inc.</p>
    </div>
</div>

<!-- End of first page -->

<!-- Start of finding your tech talent -->
<div class="searching-for-results twelve columns none">
    <h5>Locating Your Ideal Candidate...</h5>
</div>

<!-- End of searching for talent -->

<!-- Start of description of me page -->

<div class="search-result-page none">
    <h5>Searching for talent - 3d globe spinning</h5>
</div>

<!-- End of Description of me page -->

<div class="result-page">

    <div class="result-content container">

        <div class="row">

            <div class="thank-you grey-background twelve columns">

                <h5>
                    Thank You
                    <span class="name"><%=@name%></span>
                </h5>

                <p>Thank you
                    <span class="name"><%= @name %></span>
                    for using Tech Talent Finder's FREE candidate finder. The top developer recruitment application on the planet (as rated by 3 independent voters from Tech Talent Finder).</p>

                <p>According to your answers, you're looking for a
                    <span class="description"><%=@description%></span>
                    <span class="front_back"><%=@front_back%></span>
                    developer with
                    <span class="years_experience"><%=@years_experience %></span>
                    years experience. A candidate proficient with
                    <span class="relevant_technologies"><%=@relevant_technologies %></span>
                    and looking to work in a
                    <span class="company_size"><%= @company_size %></span>
                    company
                </p>


                    <p><span class="name"><%= @name %></span>, today is your lucky day..</p>

                <p>After going through our advanced candidate finder artificial intelligence, and evaluating, sorting and practically interviewing over 4 billion potential candidates in less than a millisecond (we evaluate the development ability of everyone,
                    developer or not), we have found the one PERFECT candidate for your company.
                </p>

            </div>
            <div class="your-ideal-candidate white-background twelve columns">

                <h5>Your Ideal Candidate Is...</h5>

                <p>Your ideal candidate is a Sydney based
                    <span class="front_back"><%= @front_back %></span>
                    developer named Rhys Diab.</p>

                <%= image_tag("Rhys.jpg", :class=> 'my_image') %>

                <p>Rhys is a passionate lawyer turned
                    <span class="front_back"><%=@front_back %></span>
                    developer with an unusual set of skills and experiences which PERFECTLY match your job requirements
                </p>

                <p>It's as if your development kindred spirits.</p>

            </div>

            <div class="Rhys's-story grey-background">

                <h5>Rhys's Story</h5>

                <p>Rhys's unusal story starts at one of the most prestigious law schools in Sydney, The University Of New South Whales School of Law</p>

                <p>Like many top performing students Rhys was drawn to the most challenging course he could find. Law seemed like the perfect choice for his strong problem-solving skills and attention to detail.
                </p>

                <p>But while law satisfied Rhys's craving to solve difficult problems, it didn’t take long to realise his passion lay elsewhere.</p>

                <p>
                    Ass all his fellow students were seeking clerkships and graduate positions at large law firms, Rhys was searching for something different.
                </p>

                <p>
                    Something in technology...
                </p>

                <p>The company for worked for built software which automated the creation of legal documents for small businesses.</p>

                <p>It seemed like a match made in heaven.</p>

                <p>
                    But as time went on Rhys found himself spending increasingly more time with the development team. The technology, which was at the heart of the company fascinated Rhys to no end.
                </p>

                <p>Maybe you can relate.</p>

                <p>Maybe you know someone like that..</p>

                <p>Not long after Rhys made a move which shocked his friends, family and even his dog. Rhys made the jump into General Assembly's Immersive Web Development Bootcamp to pursue his true passion...
                </p>

            </div>
            <div class="rhys's-skills white-background">

                <h5>Rhys's Skills..</h5>

                <p>Since making the jump from lawyer to
                    <span class="front_back"><%= @front_back %></span>
                    developer, Rhys has proved himsef to be a
                    <span class="description"><%= @description %></span>
                    candidate.
                </p>

                <p>With experience as a lawyer, Rhys has strong a strong problem-solving ability, acute attention to detail and a high degree of emotional intelligence
                </p>

                <p>Rhys is fascinated by
                    <span class="relevant_technologies"><%= @relevant_technologies %></span>
                    and looking forward to joining a
                    <span class="company_size"><%= @company_size %></span>
                    team.
                </p>

            </div>

            <div class="last-day grey-background twelve columns">

                <h5>Why Today Is The Very Last Day We Can Guarantee An Interview With This Candidate</h5>

                <p>While we at Tech Talent Finder pride ourselves on being the best developer recruitment app in the world, the skill level and interpersonal skills of this particular candidate means he is currently receiving a TON of job offers.
                </p>

                <p>As much as he'd love to hear from you at some point in the future, It is likely if you don't contact him for an interview today he will be likely be employed and off the job market. (Lord knows that good ones don't stay between jobs long)</p>

                <p>And just like that the PERFECT
                    <span class="front_back"><%= @front_back %></span>
                    developer for you business will be gone FOREVER</p>

                <p>So it is important you click the button below and contact Rhys for an interview before it is too late.</p>

                <button class="rhys-button">Find Out More</button>

            </div>

            <div class="warning section white-background twelve columns">

                <h5>Warning</h5>

                <p>Tech Talent Finder takes their success rate very seriously and will be forced to fire an engineer if you don't interview Rhys today.</p>

                <button class="rhys-button">Find Out More</button>

            </div>

        </div>

    </div>
</div>
</div>
